.navbar-nav > li{
    padding-left:5px;
    padding-right:5px;
}
body{
  background-color: #ebded4;
  height: auto;
  font-family: 'Rubik', sans-serif;
}
.aboutme{
  font-weight: bold;
  font-size: 60pt;
  text-transform: uppercase;
	background: linear-gradient(180deg, rgba(255,95,109,1) 20%, rgba(255,195,113,1) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.myname{
  font-weight: bold;
  text-transform: uppercase;
	background: linear-gradient(45deg, rgba(255,95,109,1) 20%, rgba(255,195,113,1) 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
h4{
  font-weight: bold;
  color:white;
  background: linear-gradient(90deg, rgba(255,95,109,1) 20%, rgba(255,195,113,1) 100%);
  text-align: center;
}

.content{
    display: flex;
    height: auto;
    align-items: center;
}
.txtdetail{
    height:auto;
    width:auto; 
    margin:auto;
    text-align: center;
    font-size: 15pt;
    line-height: 50px;
}
p{
  margin: 0;
}
.navbar{
  background-color:rgba(0, 0, 0, 0) !important;
}

.footer {
  display: flex;
  height: 100px;
  background-color: #cfbfb0;
  text-align: center;
  font-size: 15px;
  justify-content:center; 
  align-items:center;
  width: 100%;
}
.homeicon{
  color: rgb(10, 10, 17);
  transition:0.5s;
}
.homeicon:hover {
    transform: scale(1.2);
}
.nav-link{
  color: rgb(10, 10, 17) !important;
  transition:0.5s;
}
.nav-link:hover{
  transform: scale(1.2);
}
#ico{
  color: white;
  cursor: pointer;
  transition:0.5s;
}
#ico:hover{
  transform: scale(1.1);
  color: black;
}
@media only screen and (max-width: 991px) {
  .aboutme{
    font-size: 30pt;
  }
}
